// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

/{
    aliases {
        respin = "/epd_out/res";
        cspin = "/epd_out/cs";
        dcpin = "/epd_out/dc";
        bspin = "/epd_out/bs";
        busypin = "/epd_in/busy";

        //vdiv = "/vbatt";
    };
    chosen {
        zephyr,code-partition = &slot0_partition;
    };

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@0 {
            label = "slot0";
            reg = <0x00000000 0x00020000>;  /* 128KB */
        };

        storage_partition: partition@20000 {
            label = "storage";
            reg = <0x00020000 0x00020000>;  /* 128KB */
        };
    };

    epd_out {
        compatible = "gpio-leds";
        res {
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
            label = "EDP_RES";
        };
        cs {
            gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
            label = "EDP_CS";
        };
        dc {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
            label = "EDP_DC";
        };
        bs {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            label = "EDP_BS";
        };
    };

    epd_in {
        compatible = "gpio-keys";
        busy {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "EDP_BUSY";
        };
    };

    // vbatt {
        //     compatible = "voltage-divider";
        //     label = "Voltage Divider";
        //     io-channels = <&adc 5>;
        //     power-gpios = <&gpio0 29 0>;
        //     output-ohms = <100000>;
        //     status = "okay";
    // };
};

&uart0 {
    status = "disabled";
};


&gpiote {
    status = "okay";
};

&spi1_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 0, 8)>, <NRF_PSEL(SPIM_MOSI, 0, 5)>;
    };
};

&spi1_sleep {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 0, 8)>, <NRF_PSEL(SPIM_MOSI, 0, 5)>;
        /delete-property/ low-power-enable;
    };
};

&spi1 {
    /delete-property/ cs-gpios;

};

